<mat-card-header>
  <div class="header center">
    <mat-card-title>Register</mat-card-title>
  </div>
</mat-card-header>
<form [formGroup]="registerForm" (ngSubmit)="login()">
  <mat-card-content>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <input matInput type="text" id="username" placeholder="Username" formControlName="userName" required >
            <mat-error *ngIf="!userName.valid"> Username is required between 4 and 12 characters </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <mat-form-field appearance="outline">
            <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="!password.valid"> Password is required between 4 and 12 characters </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <input matInput type="text" id="firstName" placeholder="Firstname" formControlName="firstName" required >
            <mat-error *ngIf="!firstName.valid"> Firstname is required between 4 and 12 characters </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <input matInput type="text" id="lastName" placeholder="Lastname" formControlName="lastName" required >
            <mat-error *ngIf="!lastName.valid"> Lastname is required between 4 and 12 characters </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <br>
  <mat-card-actions>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    </div>
  </mat-card-actions>
</form>
