<div  style="text-align: center">
    <h1>Smartphone Shop</h1>
</div>

<div class="Component Component_Button">
  <button mat-flat-button (click)="addButtonClick()" color="primary">ADD</button>

</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>



        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let Smartphone">{{Smartphone.id}}</td>
          </ng-container>

          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
            <td mat-cell *matCellDef="let Smartphone">{{Smartphone.brand}}</td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <td mat-cell *matCellDef="let Smartphone">{{Smartphone.model}}</td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
            <td mat-cell *matCellDef="let Smartphone">{{Smartphone.stock}}</td>
          </ng-container>

          <ng-container matColumnDef="prize">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Prize</th>
            <td mat-cell *matCellDef="let Smartphone">{{Smartphone.prize}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let Smartphone">
              <button mat-icon-button (click)="editButtonClick(dataSource.data.indexOf(Smartphone))">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let Smartphone">
              <button mat-icon-button (click)="eraseButtonClick(dataSource.data.indexOf(Smartphone))">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </tr>
    </table>

</div>