<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1>Smartphone Shop</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="loginMode">
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a  mat-button [routerLink]="'/profile'"> Profile </a>
      <a mat-button [routerLink]="'/order'"> Order </a>
      <a mat-button [routerLink]="'/order'"> Logout </a>
    </div>

    
    <div *ngIf="!loginMode">
      <a mat-button [routerLink]="'/start-page'"> Home </a>
      <a  mat-button [routerLink]="'/contact'"> Contact </a>
    </div>


  </mat-toolbar-row>


</mat-toolbar>