<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1>Smartphone Shop</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="loginMode">
      <a  mat-button [routerLink]="'/smartphone-list'"> Smartphone list </a>
      <a  mat-button [routerLink]="'/profile'"> Profile </a>
      <a mat-button [routerLink]="'/order'"> Order </a>
      <a mat-button  (click)="logout()"> {{'GENERAL.LOGOUT' | translate}} </a>
    </div>

   
    <div *ngIf="!loginMode">
      <a  mat-button [routerLink]="'/contact'"> Contact </a>
      <a mat-button  (click)="login()"> {{'GENERAL.LOGIN' | translate}}  </a>
    </div>


  </mat-toolbar-row>

</mat-toolbar>