<h1 mat-dialog-title>User</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="column">

      <p>UserName</p>
      <mat-form-field>
        <input matInput [(ngModel)]="this.user.userName">
      </mat-form-field>

      <p>Password</p>
      <mat-form-field>
        <input matInput [(ngModel)]="this.user.password">
      </mat-form-field>

      <p>First Name</p>
      <mat-form-field>
        <input matInput [(ngModel)]="this.user.firstName">
      </mat-form-field>

      <p>Last Name</p>
      <mat-form-field>
        <input matInput [(ngModel)]="this.user.lastName">
      </mat-form-field>

      <p>Role type</p>
      <mat-form-field>
        <input matInput [(ngModel)]="this.user.roleType">
      </mat-form-field>

    </div>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancelClick()" color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="this.user" color="primary">OK</button>
</div>
