<div class="container mt-5">


  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Get a perfect smartphone</h1>
    <p class="lead">Compare and order... but first register!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">more...</button>
    </div>
  </div>


  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
    <app-register></app-register>
    </div>
  </div>
</div>
</div>