<div>
  <div  style="text-align: center">
    <!-- Translate może jakiś już w tym momencie -->
    <h1>Get a perfect smartphone</h1>
    <p class="lead">Compare and order... but first login or register!</p>
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="registerToggle()">Sign up</button>   
    

      <button mat-raised-button color="primary" (click)="loginToggle()">Sign in</button>
    </div>
  </div>


  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
    <app-register></app-register>
    </div>
  </div>
</div>
<div *ngIf="loginMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
  <app-login></app-login>
  </div>
</div>
</div>
</div>