.split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 220;
    overflow-x: hidden;
    padding-top: 322px;
    padding-right: 0px;
  }
  .splitted middle {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 100px;
    overflow-y: scroll;
  }

  .left {
    left: 0;
    background-color: brown;
    overflow: hidden;
  }

  .middle{
      
left: 20%
  }
  .centered {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -0%);
    text-align: center;
  }